<div style="width: 100%; height: 100vh; flex-direction: column;" class="is-flex is-justify-content-center is-align-items-center has-background-primary-dark"> 

<h1 class="title is-size-3 has-text-centered" style="background-color: rgb(222, 222, 222); padding: 1rem; border-radius: 10px">Postagem</h1>
<div class="has-background-grey-light is-flex is-justify-content-center is-align-items-center" style="width: 50%; height: 70%; padding: 2rem; border-radius: 20px;">
<form action="/postagem" method="POST">


<p>Título</p>
<input type="text" name="titulo" class="input" style="width: 100%;"><br>
<p>Conteúdo</p>
<textarea name="conteudo" cols="30" rows="10" class="textarea"></textarea><br>
<button type="submit" class="button is-primary">Enviar</button><br>

</form>

</div>
</div>